.navbar-brand {
    background: rgb(39, 205, 211);
    padding: 20px;
    font-weight: bold;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
.row {
    background: white;
    color: rgb(39, 205, 211)
}