/* css for index.html*/
* {
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
}
.wrapper {
    overflow: auto;
}
.navbar-brand {
    background: rgb(39, 205, 211);
    padding: 10px;
    font-weight: bold;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    border-bottom-style: solid black;
}
.container-1 {
    width: 100%;
    border-style: hidden;
}
.card {
    margin: auto;
}
p {
    font-size: small;
}
.page-header {
    color: rgb(39, 205, 211);
}
.footer {
    background-color: gray;
    position: fixed;
    height: 50px;
    clear: both;
    color: black;
    bottom: 0;
    left: 0;
    width: 100%;
}
.float-left {
    float: left;
}
/*css for profile page*/
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
/* css for contact page*/
.container-1 {
    margin-right: auto;
    margin-left: auto;
    box-sizing: content-box;
}
.container-contact {
    width: 500px;
    height: 500px;
    margin:auto;
    padding-top: 20px;

}