/* css for index.html*/
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url(images/background-img2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.wrapper {
    overflow: auto;
}
.navbar-brand {
    /* background: rgb(39, 205, 211); */
    padding: 10px;
    font-weight: bold;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    /* border-bottom-style: solid black; */
}
.container-1 {
    width: 50%;
    border-style: hidden;
}
.card {
    /* margin: ; */
    padding: 10px;
}
p {
    font-size: medium;
}
.page-header {
    color:black;
}
.footer {
    /* background-color: lightgrey; */
    position: fixed;
    height: 50px;
    clear: both;
    color: black;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
.float-left {
    float: left;
}
#links {
    color: black;
}
/*css for profile page*/
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
/* css for contact page*/
.container-1 {
    margin-right: auto;
    margin-left: auto;
    box-sizing: content-box;
}
.container-contact {
    width: 500px;
    height: 500px;
    margin:auto;
    padding-top: 20px;

}