/* css for index.html*/
.wrapper {
    width: 100%;
}
.navbar-brand {
    background: rgb(39, 205, 211);
    padding: 10px;
    font-weight: bold;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    border-bottom-color:black ;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

* {
    box-sizing: border-box;
}
.page-header {
    color: rgb(39, 205, 211);
}
